<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.andreicarlopapuc.huntinglupus"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk android:minSdkVersion="8" />

    <!-- Internet Perms -->

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <android:uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />
    <android:uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <android:uses-permission
        android:name="android.permission.READ_EXTERNAL_STORAGE"
        android:maxSdkVersion="18" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <!--
 The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but are recommended.
    -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <application
        android:allowBackup="true"
        android:configChanges="keyboardHidden|orientation"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name=".MainScreenActivity"
            android:label="@string/app_name" >
            <meta-data
                android:name="com.google.android.geo.API_KEY"
                android:value="Api_KEY" />
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <!-- Admin All Product Activity -->
        <activity
            android:name=".AdminAllProductsActivity"
            android:label="All Admin Products" >
        </activity>

        <!-- User All Product Activity -->
        <activity
            android:name=".UserAllProductsActivity"
            android:label="@string/title_activity_user_all_products" >
        </activity>

        <!-- User All Products EXPANDABLE list -->
        <activity
            android:name=".UserAllProductsEXPANDABLElist"
            android:label="ListView Version" >
        </activity>

        <!-- Add Product Activity -->
        <activity
            android:name=".NewProductActivity"
            android:label="Add New Product" >
        </activity>

        <!-- Edit Product Actity -->

        <activity
            android:name=".EditProductActivity"
            android:label="Edit Product" >
        </activity>
        <!-- User Main Activity -->
        <activity
            android:name=".UserMainActivity"
            android:label="@string/title_activity_user_main" >
        </activity>
        <!-- Admin Main Activity -->
        <activity
            android:name=".AdminMainActivity"
            android:label="Admin Main Activity" >
        </activity>

        <!-- Data Provider -->

        <!-- Products Category List -->
        <activity
            android:name=".ProductsCategoryList"
            android:label="Expandable ListView Purpose" >
        </activity>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="@string/google_maps_key" />

        <activity
            android:name=".MapsActivity"
            android:label="@string/title_activity_maps" >
        </activity>
    </application>

</manifest>
